.light-theme {
  --neutral-bg-base: #ffffffff;
  --neutral-bg-subtle: #fafafaff;
  --neutral-bg-weak: #f5f5f5ff;
  --neutral-bg-weak-disabled: #fafafaff;
  --neutral-bg: #8c8c8cff;
  --neutral-bg-disabled: #e2e2e2ff;
  --neutral-bg-disabled-inverse: #b3b3b3ff;
  --neutral-text: #292929ff;
  --neutral-text-inverse: #ffffffff;
  --neutral-text-weak: #737373ff;
  --neutral-text-disabled: #b3b3b3ff;
  --neutral-text-weak-inverse: #b3b3b3ff;
  --neutral-text-disabled-inverse: #8c8c8cff;
  --neutral-border: #8c8c8cff;
  --neutral-border-weak: #ccccccff;
  --neutral-border-disabled: #e2e2e2ff;
  --neutral-border-inverse: #ccccccff;
  --neutral-border-disabled-inverse: #b3b3b3ff;
  --neutral-icon: #8c8c8cff;
  --neutral-icon-disabled: #b3b3b3ff;
  --neutral-icon-disabled-inverse: #8c8c8cff;
  --neutral-icon-inverse: #ffffffff;
  --action-bg-subtle: #f0fdffff;
  --action-bg-weak: #d6f9ffff;
  --action-bg-weak-hover: #f0fdffff;
  --action-bg: #047ab5ff;
  --action-bg-hover: #096499ff;
  --action-bg-disabled: #b7eaf4ff;
  --action-bg-inverse: #ffffffff;
  --action-text-strong: #103b5cff;
  --action-text-strong-inverse: #ffffffff;
  --action-text: #047ab5ff;
  --action-text-hover: #096499ff;
  --action-text-inverse: #13c3e7ff;
  --action-text-hover-inverse: #75d7ebff;
  --action-border: #047ab5ff;
  --action-border-hover: #096499ff;
  --action-icon: #0294c9ff;
  --action-icon-hover: #047ab5ff;
  --action-icon-strong: #103b5cff;
  --action-icon-strong-inverse: #ffffffff;
  --success-bg-subtle: #f1fef4ff;
  --success-bg-weak: #d5fcdfff;
  --success-text: #098632ff;
  --success-border: #098632ff;
  --success-icon: #12a13fff;
  --warning-bg-subtle: #fff8f2ff;
  --warning-bg-weak: #ffefe0ff;
  --warning-text: #bd5500ff;
  --warning-border: #bd5500ff;
  --warning-icon: #e07000ff;
  --danger-bg-subtle: #fff7f8ff;
  --danger-bg-weak: #ffe8ecff;
  --danger-text: #d63838ff;
  --danger-bg: #d63838ff;
  --danger-border: #d63838ff;
  --danger-icon: #e95d62ff;
  --overlay-bg-strong: #474747f5;
  --overlay-bg-medium: #103b5cf5;
  --overlay-bg-weak: #ffffff99;
  --overlay-bg-nav: #103b5cf5;
  --ccl-excellent: #098632ff;
  --ccl-high: #18b447ff;
  --ccl-low: #ff8200ff;
  --ccl-medium: #ffc51aff;
  --ccl-poor: #d63838ff;
  --ccl-unknown: #8c8c8cff;
  --risk-critical: #8f1416ff;
  --risk-high: #d63838ff;
  --risk-medium: #ff8200ff;
  --risk-low: #18b447ff;
  --chart-1st: #0297c0ff;
  --chart-2nd: #64ccc9ff;
  --chart-3rd: #87b800ff;
  --chart-4th: #ffc51aff;
  --chart-5th: #5a23adff;
  --chart-6th: #f896a1ff;
  --chart-7th: #805700ff;
  --chart-8th: #0a807cff;
  --chart-9th: #54e37dff;
  --chart-10th: #474747ff;
}